
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#compscreen-container.active {
    pointer-events: auto;
}

/* Main Terminal text */
.terminal-content {
    color: #e6e6e6;
    font-family: 'SF Mono', 'Roboto Mono', monospace;
    text-align: center;
    line-height: 1.5;
}

/* hacker Blink Animation */
.blink {
    color: #66ff99;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Menu Styling */
.menu {
    list-style-type: none;
    padding: 1rem 0;
}

.menu-item { /* element target only */
    margin: 0.5rem 0;
}

.menu-item a {
    color: #66ff99;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.2s ease;
    letter-spacing: 0.5px;
}

.menu-item a:hover {
    color: #b3ffd9;
    transform: scale(1.05);
}


body, .terminal-content {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


body {
    background: linear-gradient(135deg, #121212, #222);
}




